.input {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px 5px;

    font-size: var(--fontSizeMedium);
    font-weight: var(--fontBold);
    color: var(--darkBlue);
}

.input::placeholder {
    color: var(--blue);
}
