.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.gear {
    width: 100%;
    height: 100%;
}

.container:hover .menu {
    transform: scale(1);
    top: 25px;
}

.menu {
    display: flex;
    gap: 0 10px;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: 100;
    transition: 0.3s ease-in-out;
    transform: scale(0);
}

.menuItem {
    background-color: var(--blue);
    border-radius: 50%;
    padding: 10px;
}

.itemIcon {
    width: 30px;
    height: 30px;
}
