.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    padding: 25px 15px;
    background-color: var(--blue);
    border-radius: 18px;
}

.inputWrap {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    margin-bottom: 25px;
}

.authBtn {
    margin-bottom: 15px;
}

.changeAuth {
    width: fit-content;
    margin: 0 auto;
    color: var(--lightBlue);
    font-size: var(--fontSizeMedium);
    text-decoration: none;
    transition: 0.3s linear;
}

.emptyField {
    border: 2px solid red;
}

@media (any-hover: hover) {
    .changeAuth:hover {
        color: var(--pink);
    }
}
